body {
    background-color: #f8f9fa;
}

.navbar {
    margin-bottom: 20px;
}

.card {
    margin-top: 20px;
}

.bg-lightgreen {
    background-color: #66bb6a;
}

.btn-lightgreen {
    background-color: #66bb6a;
    color: white;
}

.card-header {
    font-weight: bold;
}
