{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h1 class="mb-4">Notifications</h1>
        <div class="card shadow-lg">
            <div class="card-header bg-lightgreen text-white">Notifications Settings</div>
            <div class="card-body">
                <form action="/notifications" method="post">
                    <div class="form-group">
                        <label for="alertType">Alert Type</label>
                        <select class="form-control" id="alertType" name="alertType">
                            <option>Email</option>
                            <option>SMS</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="contact">Contact</label>
                        <input type="text" class="form-control" id="contact" name="contact" required>
                    </div>
                    <button type="submit" class="btn btn-lightgreen btn-block">Save Settings</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
